@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.cdnfonts.com/css/georgia');


/* This text is in Helvetica */
.helvetica { 
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;
}

/* This text is in Georgia */
.georgia { 
    font-family: 'Georgia', serif;
}

/* This text is in Italic for placeholders */
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {  
    font-style: italic; 
}

/* Autocomplete graphics */
/* ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

ul.has-suggestions {
    display: block;
}
ul li {
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}
ul li:hover {
    background-color: #e65c00;
} */